[submodule "lib/yaml-php"]
	path = lib/yaml-php
	url = https://github.com/yaml/yaml-php.git
[submodule "lib/lessphp"]
	path = lib/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "lib/minify"]
	path = lib/minify
	url = https://github.com/mrclay/minify.git
[submodule "lib/silk-icons"]
	path = lib/silk-icons
	url = https://github.com/markjames/famfamfam-silk-icons.git
