position: absolute;
left: 35%;
width: 300px;


& > li {
    float: left;
    margin-top: 10px;
    padding: 20px;
    background-color: #FED;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #444;
    border: 3px solid #DCB;
}