.oxygen-exception {
	font-family:Verdana;
	font-size:0.8em;
	.details {
		color:#800000;
        font-size:1.2em;
        background-color:#FFF0F0;
        margin:4px;
        border-radius:4px;
        border:1px solid #EEE0E0;
        padding:10px
	}
	table.trace {
		font-size:1em;
		margin:8px;
		tr {
			cursor: default;
			.hover {
				background-color:#FFFCF0;	
			}
		}
		td {
			padding: 3px;
		}
	}
}